.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link {
    margin-right: 1rem;
}

svg {
    width: 50px; /* Ajusta el tamaño del ícono según necesites */
    height: auto;
}

.nav-link.disabled {
    pointer-events: none;
    opacity: 0.5;
}
  