.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .card-title {
    font-size: 1.25em;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px; /* Ajusta la altura según necesites */
    object-fit: cover; /* Esto se asegura de que la imagen mantenga su relación de aspecto mientras llena el contenedor */
  }
  
  .card-body {
    flex: 1;
  }
  
  .card-text {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }
  
  .card-footer {
    background-color: #ffffff;
  }
  
  .btn-success, .btn-primary, .btn-danger {
    margin: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  