<div class="container my-5 flex-grow-1">
  <section class="col-md-6 offset-md-3 text-center">
    <h2>Bienvenidos a Destilado Agave</h2>
    <img src="assets/img/Ferecha.jpeg" alt="Imagen de mezcal" class="img-fluid my-4">
    <p>Descubre el sabor auténtico y tradicional del mezcal de la más alta calidad. En "Destilado Agave", nos enorgullece ofrecerte una experiencia única que celebra la riqueza de nuestra herencia cultural. Cada botella es una obra de arte, destilada con pasión y dedicación.</p>
  </section>
</div>
